<section class="comments-form">
  <%= form_with model: [@post, @post.comments.build], local: true do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit 'Add comment' %>
  </p>
  <% end %>
</section>